.card {
  border: none;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -ms-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -o-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  margin-bottom: 30px;
  position: relative;
  font-family: Poppins,sans-serif;
  .card-heading {
    padding: 15px 20px;
    position: relative;
    .card-title {
      line-height: 23px;
      padding-top: 4px;
    }
    h2.card-title {
      font-size: 1.43em;
      margin: 0;
      font-weight: 400;
      color: #516073;
    }
    P {
      padding: 7px 0;
      color: $p-font;
    }
  }
  .card-body {
    padding: 15px 20px;
    P {
      padding: 7px 0;
      color: $p-font;
    }
  }
}
