@import "../../../../assets/scss/base";
@import "../../../../assets/scss/card";
@import "../../../../assets/scss/switch";
@import "../../../../assets/scss/radioAndCheckbox";
.wrap {
  .page-header {
    height: 200px;
  }
  .container-fluid {
    margin-top: -90px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 50px;
    .toggle {
      margin-right: 20px;
    }
    .col-lg-6,.col-md-6,.col-xs-12,col-sm-6 {
      padding-left: 0px;
    }
    .mark {
      color: $bg-danger;
    }
  }
}

h3 {
  font-size: 1.29em;
}
