.modal-backdrop.fade {
  opacity: 0.5;
}
.fade {
  opacity: 1;
}
.modal{
  height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  box-sizing: border-box;
  .modal-content{
    border-radius: 5px;
  }
  .modal-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    margin-top: -150px;
    padding: 20px;
    .question{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 0 auto;
      border: 4px solid #87adbd;
     span{
       font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
       color: #87adbd;
       border-color: #c9dae1;
       font-size: 60px;
       line-height: 80px;
       text-align: center;
     }
    }
    .model-txt{
      text-align: center;
      text-transform: none;
      position: relative;
      margin: 0;
      padding: 0;
      line-height: 60px;
      display: block;
      font-size: 1.15em;
      margin: 0;
      color: #516073;
    }
    .btn-confirm{
      background-color: #ec407a!important;
      color: #FFF!important;
      box-shadow: 0 2px 2px 0 rgba(236,64,122,.14),0 3px 1px -2px rgba(236,64,122,.2),0 1px 5px 0 rgba(236,64,122,.12)!important;
    }
    .btn-sty{
      border: none;
      border-radius: 3px;
      position: relative;
      padding: 12px 50px;
      margin: 10px 1px;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0;
      will-change: box-shadow,transform;
      transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
      outline: 0;
    }
    .btn-cancel{
      color: #9daec4!important;
      background: 0 0!important;
      box-shadow: none;
      &:hover{
        outline: 0;
        box-shadow: none;
        background-color: rgba(157,174,196,.2)!important;
      }
    }
  }
}

@media screen and (max-width:768px ){
  .modal {
    .modal-dialog {
      width: 90%;
      margin-left: -45%;
      .question {
        width: 60px;
        height: 60px;
        span {
          line-height: 60px;
        }
      }
      .model-txt {
        line-height: 50px;
        font-size: 1.1em;
      }
      .btn-sty {
        margin: 0 1px 18px;
        padding: 10px 40px;
      }
    }
  }
}
