@import "../../../../assets/scss/base";
@import "../../../../assets/scss/card";
@import "../../../../assets/scss/switch";
@import "../../../../assets/scss/radioAndCheckbox";
.wrap {
  .page-header {
    height: 200px;
  }
  .container-fluid {
    margin-top: -90px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 50px;
    .col-lg-6,.col-md-6,.col-xs-12,col-sm-6 {
      padding-left: 0px;
    }
    .btn-group {
      .btn {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }
}
.btn {
  margin: 10px 4px;
}

h3 {
  font-size: 1.29em;
}
