<div class="wrap">
  <div class="page-header">
    <h1>Buttons</h1>
    <div class="path-breadcrumb">
      <ol class="breadcrumb">
        <li><a [routerLink]="['/']"><span class="fa fa-home"></span> Dashboard</a></li>
        <li>components</li>
        <li>button</li>
      </ol>
    </div>
  </div>
  <div class="container-fluid clearfix">
    <!--Raised Buttons-->
    <div class="card">
      <header class="card-heading ">
        <h2 class="card-title">Raised Buttons</h2>
        <p>Raised buttons are used to add dimension and emphasizes important functions.</p>
      </header>
      <div class="card-body">
        <a href="javascript:void(0)" class="btn btn-default">DEFAULT</a>
        <a href="javascript:void(0)" class="btn btn-primary">PRIMARY</a>
        <a href="javascript:void(0)" class="btn btn-success">SUCCESS</a>
        <a href="javascript:void(0)" class="btn btn-info">INFO</a>
        <a href="javascript:void(0)" class="btn btn-warning">WARNING</a>
        <a href="javascript:void(0)" class="btn btn-danger">DANGER</a>
      </div>
    </div>
    <!--Round Buttons-->
    <div class="card">
      <header class="card-heading ">
        <h2 class="card-title">Round Buttons</h2>
        <p>Raised buttons are used to add dimension and emphasizes important functions.</p>
      </header>
      <div class="card-body clearfix">
        <div class="col-lg-6 col-md-6">
          <h3>Default</h3>
          <a href="javascript:void(0)" class="btn btn-default btn-fab"><i class="fa fa-ellipsis-v"></i></a>
          <a href="javascript:void(0)" class="btn btn-primary btn-fab"><i class="fa fa-plus"></i></a>
          <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="fa fa-pencil"></i></a>
          <a href="javascript:void(0)" class="btn btn-info btn-fab"><i class="fa fa-check"></i></a>
          <a href="javascript:void(0)" class="btn btn-warning btn-fab"><i class="fa fa-search"></i></a>
          <a href="javascript:void(0)" class="btn btn-danger btn-fab"><i class="fa fa-th-large"></i></a>
        </div>
        <div class="col-lg-6 col-md-6">
          <h3>Small</h3>
          <a href="javascript:void(0)" class="btn btn-default btn-fab btn-fab-sm"><i class="fa fa-ellipsis-v"></i></a>
          <a href="javascript:void(0)" class="btn btn-primary btn-fab btn-fab-sm"><i class="fa fa-plus"></i></a>
          <a href="javascript:void(0)" class="btn btn-success btn-fab btn-fab-sm"><i class="fa fa-pencil"></i></a>
          <a href="javascript:void(0)" class="btn btn-info btn-fab btn-fab-sm"><i class="fa fa-check"></i></a>
          <a href="javascript:void(0)" class="btn btn-warning btn-fab btn-fab-sm"><i class="fa fa-search"></i></a>
          <a href="javascript:void(0)" class="btn btn-danger btn-fab btn-fab-sm"><i class="fa fa-th-large"></i></a>
        </div>
      </div>
    </div>
    <!--Button Sizes-->
    <div class="col-xs-12 col-sm-6">
      <div class="card">
        <header class="card-heading ">
          <h2 class="card-title">Button Sizes</h2>
          <p>Raised buttons are used to add dimension and emphasizes important functions.</p>
        </header>
        <div class="card-body">
          <a href="javascript:void(0)" class="btn btn-primary btn-lg">LARGE BUTTON</a>
          <a href="javascript:void(0)" class="btn btn-primary">DEFAULT BUTTON</a>
          <a href="javascript:void(0)" class="btn btn-primary btn-sm">SMALL BUTTON</a>
          <a href="javascript:void(0)" class="btn btn-primary btn-xs">TINY BUTTON</a>
        </div>
      </div>
    </div>
    <!--Button Styles-->
    <div class="col-xs-12 col-sm-6">
      <div class="card">
        <header class="card-heading ">
          <h2 class="card-title">Button Styles</h2>
          <p>Raised buttons are used to add dimension and emphasizes important functions.</p>
        </header>
        <div class="card-body">
          <a href="javascript:void(0)" class="btn btn-primary btn-lg">DEFAULT</a>
          <a href="javascript:void(0)" class="btn btn-primary btn-fab"><i class="fa fa-plus"></i></a>
          <a href="javascript:void(0)" class="btn btn-primary btn-lg"><i class="fa fa-heart"></i>WISH ICON</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <!--Button Groups-->
      <div class="card">
        <header class="card-heading ">
          <h2 class="card-title">Button Groups</h2>
          <p>Raised buttons are used to add dimension and emphasizes important functions.</p>
        </header>
        <div class="card-body">
          <h3>Basic Example</h3>
          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-default">DEFAULT</a>
            <a href="javascript:void(0)" class="btn btn-primary">PRIMARY</a>
            <a href="javascript:void(0)" class="btn btn-success">SUCCESS</a>
            <a href="javascript:void(0)" class="btn btn-info">INFO</a>
            <a href="javascript:void(0)" class="btn btn-warning">WARNING</a>
            <a href="javascript:void(0)" class="btn btn-danger">DANGER</a>
          </div>
          <h3>Button Group Sizing</h3>
          <div class="btn-group btn-group-lg">
            <a href="javascript:void(0)" class="btn btn-default">LEFT</a>
            <a href="javascript:void(0)" class="btn btn-default">MIDDLE</a>
            <a href="javascript:void(0)" class="btn btn-default">RIGHT</a>
          </div>
          <div class="btn-group btn-group">
            <a href="javascript:void(0)" class="btn btn-primary">LEFT</a>
            <a href="javascript:void(0)" class="btn btn-primary">MIDDLE</a>
            <a href="javascript:void(0)" class="btn btn-primary">RIGHT</a>
          </div>
          <div class="btn-group btn-group-sm">
            <a href="javascript:void(0)" class="btn btn-success">LEFT</a>
            <a href="javascript:void(0)" class="btn btn-success">MIDDLE</a>
            <a href="javascript:void(0)" class="btn btn-success">RIGHT</a>
          </div>
          <div class="btn-group btn-group-xs">
            <a href="javascript:void(0)" class="btn btn-warning">LEFT</a>
            <a href="javascript:void(0)" class="btn btn-warning">MIDDLE</a>
            <a href="javascript:void(0)" class="btn btn-warning">RIGHT</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
