<div class="input-group datepicker" daterangepicker [options]="options"
     (selected)="selectedDate($event)">
  <span class="form-control uneditable-input" name="daterange">
      {{ dateAndTimeInput.start | date:'yyyy-MM-dd HH:mm:ss' }}<i *ngIf="dateAndTimeInput.start">~</i>{{ dateAndTimeInput.end| date:'yyyy-MM-dd  HH:mm:ss' }}
  </span>
  <span class="input-group-btn">
  <a type="button" class="btn btn-default"><i class="fa fa-calendar"></i></a>
  </span>
</div>
<div class="btn-group">
  <a (click)="range(0)" class="btn-link">前一天</a>
  <a (click)="range(1)" class="btn-link">今天</a>
  <a (click)="range(2)" class="btn-link">后一天</a>
</div>
