<div class="wrap">
  <div class="page-header">
    <h1>Modal</h1>
    <div class="path-breadcrumb">
      <ol class="breadcrumb">
        <li><a [routerLink]="['/']"><span class="fa fa-home"></span> Dashboard</a></li>
        <li>components</li>
        <li>modal</li>
      </ol>
    </div>
  </div>
  <div class="container-fluid clearfix">
    <!--Toast-->
    <div class="card">
      <header class="card-heading ">
        <h2 class="card-title">Bootstrap Modal</h2>
        <p></p>
      </header>
      <div class="card-body">

      </div>
    </div>

  </div>
</div>
